.DS_Store
.svn
.settings
target
*.iml
*.project
.idea
.gradle
.history
*target
*.settings
*.classpath
release.properties
.project
/.idea
build
*.releaseBackup
/logs/
**/WEB-INF/static
commons/\.factorypath
gradle